@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;

}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
    color: black
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.233);


}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}
